<h2>List of Contacts</h2>

<h4>Add contact details below:</h4>

<form action="/contacts" method="post">
  <div class="form-group">
    <label for="name">First Name</label>
    <input id="first-name" name="first_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="rank">Last Name</label>
    <input id="last-name" name="last_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="name">Job Title</label>
    <input id="job-title" name="job_title" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="rank">Company</label>
    <input id="company" name="company" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="rank">Contact Type</label>
    <input id="contact-type" name="contact_type" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>
